header {
  width: 1920px;
  height: 150px;
}

main {
  background-color: #FFF5E4;
  width: 1920px;
  height: 1500px;
  display: flex;
  flex-direction: row;
}

/* 1100px 영역 */
.sellerfoodPurchase_page {
  background-color: #FBE3B9;
  width: 1100px;
  margin-left: 410px;
}

/* 좌측 사이드메뉴 시작 */
.sellerfoodPurchase_my_page_list {
  position: fixed;
  padding: 0;
  margin: 100px 20px 0 200px;
  width: 190px;
  height: 600px;
  font-size: 20px;
  background-color: #a6998080;
  border-radius: 10px;
}

.sellerfoodPurchase_my_page {
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FF873C;
  width: 190px;
  height: 110px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sellerfoodPurchase_side_bar>li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 190px;
}

.sellerfoodPurchase_side_bar>li>a {
  width: 190px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.sellerfoodPurchase_main {
  background-color: #FF873C;
  border-radius: 10px;
}

.sellerfoodPurchase_side_bar>li:hover {
  width: 190px;
  background-color: #ff873c8c;
  border-radius: 10px;
}

/* 좌측 사이드 메뉴 끝 */

/* 페이지 제목 */
.sellerfoodPurchase_list {
  margin: 100px 0 45px 70px;
  font-size: 30px;
}

/* 목록 시작 */
.sellerfoodPurchase_list_top,
.sellerfoodPurchase_page_list {
  margin-left: 50px;
  background-color: white;
  width: 1000px;
  /* height: 50px; */
  font-size: 16px;
  align-items: center;
  display: flex;
  border: 1px solid black;
}

.sellerfoodPurchase_list_top {
  height: 50px;
}

.sellerfoodPurchase_list_date {
  width: 155px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerfoodPurchase_list_img {
  width: 110px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerfoodPurchase_list_restaurant_name {
  width: 225px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerfoodPurchase_list_menu_info {
  width: 225px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerfoodPurchase_list_how_many {
  width: 55px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerfoodPurchase_list_price {
  width: 155px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerfoodPurchase_list_review {
  width: 80px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 목록 제목 끝 */

.sellerfoodPurchase_date_list {
  width: 155px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.sellerfoodPurchase_img_list {
  width: 110px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.meal_img {
  width: 70px;
  height: 70px;
}

.sellerfoodPurchase_restaurant_name_list {
  width: 225px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.sellerfoodPurchase_menu_info_list {
  width: 225px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.sellerfoodPurchase_how_many_list {
  width: 55px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.sellerfoodPurchase_price_list {
  width: 155px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.sellerfoodPurchase_review_list {
  width: 80px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.sellerfoodPurchase_review_meal {
  border: 1px solid black;
  border-radius: 6px;
  font-size: 14px;
  width: 60px;
  height: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

/* 페이지네이션 */
.sellerfoodPurchase_pagination{
  display: flex;
  justify-self: center;
  position: relative;
  top: 1000px;
}

.sellerfoodPurchase_pagination>a {
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  margin: 0 8px 0 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #A69980;
  border-radius: 6px;
  color: black;
}

.sellerfoodPurchase_pagination>a:hover {
  background-color: #FF873C;
}