header{
  width : 1920px;
  height : 150px;
}
main{
  background-color: #FFF5E4;
  width: 1920px;
  height: 1500px;
  display: flex;
  flex-direction: row;
}
/* 1100px 영역 */
.seller_ingredient_purchase_page{
  background-color: #FBE3B9;
  width: 1100px;
  margin-left: 410px;
}
/* 좌측 메뉴 바 */
.seller_ingredient_purchase_menu {
  position: fixed;
  padding: 0;
  margin: 100px 20px 0 200px;
  width: 190px;
  height: 585px;
  font-size: 20px;
  background-color: #a6998080;
  border-radius: 10px;
}

.seller_ingredient_purchase_menu_title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FF873C;
  width: 190px;
  height: 110px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller_ingredient_purchase_menu_list_current {
  background-color: #FF873C;
  /* width: 190px; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller_ingredient_purchase_menu_list>li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 15px 0;
  width: 190px;
}

.seller_ingredient_purchase_menu_list>li>a {
  text-decoration: none;
  color: white;
}


.seller_ingredient_purchase_menu_list>li:hover {
  width: 190px;
  background-color: #ff873c8c;
  border-radius: 10px;
}
/* 좌측 메뉴바 끝 */

.seller_ingredient_purchase_list{
  margin: 100px 0 45px 70px;
  font-size: 30px;
}
.seller_ingredient_purchaselist_top{
  display: flex; 
  margin-left: 40px;
}
.seller_ingredient_purchaselist_date{
  width: 155px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller_ingredient_purchaselist_img{
  width: 110px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller_ingredient_purchaselist_restaurant_name{
  width: 225px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller_ingredient_purchaselist_menu_info{
  width: 225px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller_ingredient_purchaselist_how_many{
  width: 55px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller_ingredient_purchaselist_price{
  width: 155px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller_ingredient_purchaselist_review{
  width: 80px;
  height: 50px;
  background-color: #A69980;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller_ingredient_purchase_page_list{
  display: flex;
  margin-left: 40px;
}
.seller_ingredient_purchase_date_list{
  width: 155px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.seller_ingredient_purchase_img_list{
  width: 110px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.seller_ingredient_purchase_img{
  width: 70px;
  height: 70px;
}
.seller_ingredient_purchase_restaurant_name_list{
  width: 225px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.seller_ingredient_purchase_menu_info_list{
  width: 225px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.seller_ingredient_purchase_how_many_list{
  width: 55px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.seller_ingredient_purchase_price_list{
  width: 155px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.seller_ingredient_purchase_review_list{
  width: 80px;
  height: 85px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.seller_ingredient_purchase_review_meal{
  border: 1px solid black;
  border-radius: 6px;
  font-size: 14px;
  width: 60px;
  height: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
/* 페이지네이션 */
.seller_ingredient_purchase_pagination{
  display: flex;
  justify-self: center;
  position: relative;
  top: 1000px;
}
.seller_ingredient_purchase_pagination > a{
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  margin: 0 8px 0 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #A69980;
  border-radius: 6px;
  color: black;
}
.seller_ingredient_purchase_pagination > a:hover{
  background-color: #FF873C;
}