/* header {
  width: 1920px;
  height: 150px;
} */

main {
  background-color: #FFF5E4;
  width: 1920px;
  height: 1950px;
  display: flex;
  flex-direction: row;
}

.seller_edit_user_info {
  background-color: #FBE3B9;
  width: 1100px;
  margin-left: 410px;
  justify-items: center;
}

/*  */
.seller_my_page_list {
  position: fixed;
  padding: 0;
  margin: 60px 20px 0 200px;
  width: 190px;
  height: 585px;
  font-size: 20px;
  background-color: #a6998080;
  border-radius: 10px;
}

.seller_my_page {
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FF873C;
  width: 190px;
  height: 110px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seller_side_bar>li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 190px;
}

.seller_my_page_list_main {
  background-color: #ff873c8c;
  border-radius: 10px;
}

.seller_side_bar>li>a {
  width: 190px;
  padding: 15px 0;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}

.seller_side_bar>li:hover {
  width: 100%;
  background-color: #ff873c8c;
  border-radius: 10px;
}

/* 사이드바 끝 */
/* 페이지 제목 */
.seller_my_info {
  margin: 25px 0 45px 70px;
  font-size: 30px;
}

/* 비밀번호 입력 네모지기 */
.seller_chk_pw {
  width: 600px;
  height: 500px;
  background-color: #fff5e4;
  margin: 115px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */

}

/* 비밀번호 입력 관련 */
.seller_chk_pw_input>label {
  justify-self: center;
  line-height: 100px;
  display: flex;
}

.seller_chk_pw_input>input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 0.2px solid;
  padding-left: 5px;
}

.seller_chk_pw_input>button {
  height: 30px;
  width: 90px;
  background-color: #FF873C;
  border-radius: 5px;
  border: none;
  margin-left: 15px;
}

/* 경고메시지 */
#seller_chk_pw_warning{
  color: red;
  margin-top: 10px;
}