header{
  width : 1920px;
  height : 150px;
}
main{
  background-color: #FFF5E4;
  width: 1920px;
  height: 1500px;
  display: flex;
  flex-direction: row;
}
/* 1100px 영역 */
.seller_myreviews_page{
  background-color: #FBE3B9;
  width: 1100px;
  margin-left: 410px;
}

/* 좌측 메뉴 바 */
.seller_reviewList_menu {
  position: fixed;
  padding: 0;
  margin: 100px 20px 0 200px;
  width: 190px;
  height: 585px;
  font-size: 20px;
  background-color: #a6998080;
  border-radius: 10px;
}

.seller_reviewList_menu_title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FF873C;
  width: 190px;
  height: 110px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller_reviewList_menu_list_current {
  background-color: #FF873C;
  /* width: 190px; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller_reviewList_menu_list>li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 15px 0;
  width: 190px;
}

.seller_reviewList_menu_list>li>a {
  text-decoration: none;
  color: white;
}


.seller_reviewList_menu_list>li:hover {
  width: 190px;
  background-color: #ff873c8c;
  border-radius: 10px;
}
/* 좌측 메뉴바 끝 */

.seller_myreviews_list{
  margin: 100px 0 45px 70px;
  font-size: 30px;
}
.seller_myreviews_top{
  margin-left: 50px;
  background-color: #a69980;
  width: 1000px;
  height: 50px;
  font-size: 20px;
  align-items: center;
  display: flex;
  border: 1px solid black;
}
.seller_myreviews_comments_list{
  margin-left: 50px;
  background-color: white;
  width: 1000px;
  height: 50px;
  font-size: 16px;
  align-items: center;
  display: flex;
  border: 1px solid black;  
}
.seller_myreviews_restaurant_name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 225px;
}
.seller_myreviews_meal_name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 225px;
}
.seller_myreviews_quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
}
.seller_myreviews_price{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}
.seller_myreviews_date{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}
.seller_myreviews_grade{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}

.seller_myreviews_pagination{
  display: flex;
  justify-self: center;
  position: relative;
  top: 1000px;
}
.seller_myreviews_pagination > a{
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  margin: 0 8px 0 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #A69980;
  border-radius: 6px;
  color: black;
}
.seller_myreviews_pagination > a:hover{
  background-color: #FF873C;
}