/* header{
  width : 1920px;
  height : 150px;
} */
main{
  background-color: #FFF5E4;
  width: 1920px;
  height: 1500px;
  display: flex;
  flex-direction: row;
}
/* 1100px 영역 */
.managemycomments_page{
  background-color: #FBE3B9;
  width: 1100px;
  margin-left: 410px;
}
/* 사이드메뉴바 시작 */
/* 사이드메뉴바 큰틀 */
.managemycomments_my_page_list{
  position: fixed;
  padding: 0;
  margin: 100px 20px 0 200px;
  width: 190px;
  height: 550px;
  font-size: 20px;
  background-color: #a6998080;
  border-radius: 10px;
}
/* 사이드메뉴바 제목 */
.managemycomments_my_page{
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FF873C;
  width: 190px;
  height: 110px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 사이드메뉴바 상세메뉴 */
.managemycomments_side_bar > li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 190px;
}
.managemycomments_side_bar > li > a{
  width: 190px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
/* 사이드메뉴바 현재위치 표시 */
.managemycomments_main{
  background-color: #ff873c8c;
  border-radius: 10px;
}
.managemycomments_side_bar > li:hover{
  width: 190px;
  background-color: #ff873c8c;
  border-radius: 10px;
}
/* 페이지 제목 */
.managemycomments_list{
  margin: 100px 0 45px 70px;
  font-size: 30px;
}
/* 목록 제목 한줄 전체 */
.managemycomments_top{
  margin-left: 50px;
  background-color: #a69980;
  width: 1000px;
  height: 50px;
  font-size: 20px;
  align-items: center;
  display: flex;
  border: 1px solid black;
}
/* 목록 예시 한줄 전체 */
.managemycomments_comments_list{
  margin-left: 50px;
  background-color: white;
  width: 1000px;
  height: 50px;
  font-size: 16px;
  align-items: center;
  display: flex;
  border: 1px solid black;  
}
/* 목록 상세 */
/* 게시판 종류 */
.managemycomments_sort{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}
/* 게시판 태그 */
.managemycomments_tag{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}
/* 게시글 제목 */
.managemycomments_title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 225px;
}
/* 댓글 달린 게시글로 이동 하는 a*/
.managemycomments_title > a{
  color: black;
  text-decoration: none;
}
.managemycomments_title > a:hover{
  color: black;
  text-decoration: underline;
}
/* 내가 남긴 댓글 */
.managemycomments_comments_info{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 225px;
}
/* 댓글 작성 일자 */
.managemycomments_date{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}
/* 댓글 추천수 */
.managemycomments_like_count{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
}
/* 페이지네이션 */
.managemycomments_pagination{
  display: flex;
  justify-self: center;
  position: relative;
  top: 1000px;
}
.managemycomments_pagination > a{
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  margin: 0 8px 0 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #A69980;
  border-radius: 6px;
  color: black;
}
.managemycomments_pagination > a:hover{
  background-color: #FF873C;
}