* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

main {
  height: 830px;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff5e4;

}

/* 1100px 영역 */
.container {
  width: 1100px;
  height: 100%;
  background-color: #fbe3b9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 컨텐츠 영역  */
.content_container {
  width: 600px;
  height: 500px;
  background-color: #fff5e4;
  margin: 115px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* ************************************** */
/* 아이디 찾기 제목 */
.findId_title_container {
  font-size: 24px;
}

.findId_title {
  font-weight: bold;
}

/* 아이디 찾기 입력 폼 */
.findId_input_container>div {
  margin: 15px;
  font-size: 14px;
  text-align: right;
}

.findId_input_container>div>label {
  margin-right: 10px;
}

#findId_input_name,
#findId_input_phone {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid #000;

}

/* 아이디 찾기 버튼 및 경고메시지 */
.findId_btn:hover {
  background-color: #FF7722;
}

.findId_btn {
  width: 115px;
  height: 35px;
  background-color: #ff924e;
  color: white;
  border-radius: 5px;
  border: 0.5px solid #000;
  font-size: 16px;
}
/* 경고메시지 */
.warning_message{
  color: red;
  font-size: 14px;
}


/* 아이디 찾기 다른 곳으로 이동 */
.findId_to_container {
  /* height: 50px; */
  display: flex;
  align-items: center;
  /* text-decoration: none; */
  gap: 15px;
}

.findId_to_container>div>a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}